<h1>
  Hello worlddd
</h1>

<p>
  Get a unique email address to turn your newsletter subscriptions into a RSS feed.
</p>

<h2>Email address</h2>
<p>
  Use the following email address to subscribe to the newsletters. We'll automatically confirm the subscriptions.
</p>

<h2>Feed</h2>
<p>
  You can use the following URL to access the feed:
</p>

<h2>Subscriptions</h2>
<p>You are subscribed to the following newsletters</p>
